<!--<div id="slides">
  <ul class="slides-container">
    <li>
      <img src=<%=image_path('behappy.jpg')%> alt="">
      <div class="container">
        Slide one
      </div>
    </li>
    <li>
      <img src=<%=image_path('behappy.jpg')%> alt="">
      <div class="container">
        Slide two
      </div>
    </li>
    <li>
      <img src=<%=image_path('behappy.jpg')%> alt="">
      <div class="container">
        Slide three
      </div>
    </li>
  </ul>
  <nav class="slides-navigation">
    <a href="#" class="next">Next</a>
    <a href="#" class="prev">Previous</a>
  </nav>
</div> -->


<section class="bg-2 text-center">
  <h2>giv2giv is a public foundation</h2>
  <p class="lead">Point 1</p>
  <p class="lead">Point 2</p>
  <p class="lead">Lawyered.</p>
  <br />
  <%= link_to 'Get Started', { :controller => 'campaigns' }, :class => 'btn btn-primary' %>
</section>