


<section class="bg-2 text-center">
  <h2>giv2giv is a public foundation</h2>
  <p class="lead">Point 1</p>
  <p class="lead">Point 2</p>
  <p class="lead">Lawyered.</p>

  
  <br />
  <%= link_to 'Get Started', { :controller => 'campaigns' }, :class => 'btn btn-primary' %>
</section>